/*Notes
    -Add drop shadow to header nav bar that appears when user scrolls down.
    --See if you can animate the drop shadow expanding when this happens

    -See if you can create that zoom effect for the showcase picture like from the original site

    -Find out about linking Calendly to the site so clients can schedule consultations

    -Look up more free and royalty free stock photos for the site clipart

    X-establish a color palette to use to replace the original colors from first draft
    
    -Intergrate google fonts via url link into css file
*/
*{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
body{
    font: 13px/1.5 "Comfortaa", Arial;
    padding: 0;
    margin: 0;
    background-color: rgba(244, 244, 244, 0.338);
    min-height: 100%;
    background-image: url("../img/double-bubble-outline.webp");
    background-repeat: repeat;
    background-size: 300px 350px;
}


    /*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.servicesContainer{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.boxcontainer{
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

ul{
    margin: 0;
    padding: 0;
}



    /* Header */

header{
    background: rgba(59,142,164,0.93);
    color: #ffffff;
    padding-top: 15px;
    min-height: 25px;
    border-bottom:#649fae 3px solid;
    position: fixed;
    width: 100%;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 15px;
}

header .current a{
    color: #6ec4d9;
    font-weight: bold;

}


nav li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    color: #649fae;
    position: relative;
    background: #889ea38a;
    transition: width 0.15s ease 0s, left 0s ease 0s;
    width: 0;
    
  }
  :hover:after { 
    width: 90%; 
    right: 0; 
    
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  
header a:hover{
    color: #6ec4d9;
    font-weight: bold;
    text-shadow: 2px 2px 15 10 #52cbee;
}
/*Showcase*/



#showcase{
    min-height: 100px;
    width:100%;  /*change */
	height: 50%; 
    background: url("../img/showcase.png") no-repeat center center;  
	text-align: center;
    background-size: 115%; 
    color: rgba(0, 0, 0, 0.505);
    background-position-x: 60%;
    background-position-y: 55%;
    -webkit-animation: zoomin 50s linear;
    animation: zoomin 50s linear;
    animation-fill-mode: forwards;
    background-origin:center;
}

@-webkit-keyframes zoomin {
    0% {
       background-size: 115%; 
    }
    100% {
       background-size: 150%; 
    }

}


#showcase h1{
    margin-top: 120px;
    font-size: 35px;
    /*margin-bottom: 10px;*/
    /*opacity: 0.5; use rgb for this instead to set opacity*/
}

.container h1{
    text-align: center;
}

li a{
    font-size: 12px;
    font-weight: 600;
}

/*Middle Area - Midline*/
#midline{
    padding: 5px;
    background: rgba(239, 195, 129, 0.199);
    float: center;
    
}
#midline a{
    text-decoration: none;
}

/*Boxes*/

#boxes{
    margin-top: 20px;
    
}

#boxes .box{
    float: center;
    width: 75%;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: -2px 5px 11px 4px rgba(0,0,0,0.4); 
    box-shadow: -2px 5px 11px 4px rgba(0,0,0,0.3);
}
/*Services Section Boxes*/
#serviceBoxes{
    margin-top: 20px;
    /*margin-left done as an emergency fix. NOT responsive!*/
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
#serviceBoxes .box{
    /*float: right;*/
    margin: 55px;
    width: 50%;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: -2px 5px 11px 4px rgba(0,0,0,0.4); 
    box-shadow: -2px 5px 11px 4px rgba(0,0,0,0.3);
}

#boxes .box2{
    float: center;
    width: 30%;
    padding: 10px;
    text-align: center;
    
}

.box{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgba(219, 219, 186, 0.228);
    border: 1px solid #649fae;
    border-radius: 15px;
    width: 50%;
    
    overflow: hidden;
    
    }

footer{

    padding: 20px;
    margin-top: 15%;
    color: #ffffff;
    background-color:#649fae;
    
    display: flex;
    justify-content: center;
}
